[submodule "genie"]
	path = genie
	url = git://github.com/arkane-systems/genie.git
	branch = master
[submodule "mariner"]
	path = mariner
	url = git://github.com/Microsoft/CBL-Mariner.git
	branch = main
[submodule "linux"]
	path = linux
	url = git://github.com/microsoft/wsl2-linux-kernel.git
	branch = master
[submodule "zfs"]
	path = zfs
	url = git://github.com/openzfs/zfs.git
	branch = master
[submodule "docker"]
	path = docker
	url = https://github.com/microsoft/docker.git
[submodule "e2fsprogs"]
	path = e2fsprogs
	url = https://github.com/tytso/e2fsprogs
[submodule "tar"]
	path = tar
	url = http://git.savannah.gnu.org/git/tar.git
	branch = master
[submodule "ncompress"]
	path = ncompress
	url = https://github.com/vapier/ncompress.git
	branch = main
[submodule "systemd"]
	path = systemd
	url = https://github.com/systemd/systemd
	branch = main
[submodule "linux-pam"]
	path = linux-pam
	url = https://github.com/linux-pam/linux-pam
